
body {
    font-family: Arial, Helvetica, sans-serif;
   background:none;
  

    height: 100%;

  }
  #home-bg-video
  {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    
  }
  #home-overlay
  {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: static;
    top:0;
    left:0;
    z-index: -1;

  }
  #home-content
  {
    width: 100%;
    height: 100%;
    display: table;
    margin-top: 260px;

  }

  #home-content-inner
  {

    display: table-cell;
    vertical-align: middle;

  }
  #home-heading-1
  {
    color:white;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    display: inherit;

  }
  #home-heading-2
  {
    font-size: 20px;
    color: white;
  }
  #home-text p{
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin: 8px 0 30px 0;
    }
  .btn-general{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 28px;
    font-size: 20px;
    text-transform: uppercase;
    margin:0 6px;
    padding: 12px 46px 12px 46px;
    transition: all 0.4s;
    background-color: blue;
    color: white;



  }
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 100px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  margin: -700px;

}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: relative;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image:url("letöltés.jpg") ;
    backface-visibility: 30%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color:white;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  #s
  {color: white;}
  #a
  {
  color:white;
  font-size: 40px;
  }
  
#e
{
text-align: center;
font-size: 40px;
color: white;

}
#f
{
color: white;
text-align: Left;



}

#q
{
  color: white;
}
#í
{
  color: white;
  font-size: 60px;
}
#h
{
color:  white;
font-weight: bold;
text-decoration: underline;

}
 
#t
{color: white;
font-size: 20px;}
#q
{

  color:white;
}
#l
{
  
 width: 120px; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /*background: #fefefe;*/
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: 50px auto;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  width: 20%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-header {
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(to right, grey, black);
  color: #fff;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;

}

.card-body .btn {
  display: block;
  color ;
  text-align: center;
  background: linear-gradient(to right, red, black);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container2 {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }
}

.nev
  {
    font-size: 30px;
    
  }
  .leiras
  {
    color: grey;
  }

  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color:whitesmoke;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: grey;
  }
  
  
  .container3 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .hatter
  {
    position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1;
  }